* {
    font-family: Calibri;
    box-sizing: border-box;
    margin: 0;
}
  
.column {
    float: left;
    width: 33%;
    padding: 10px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.contacts {
    float: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    color:white;
    border-top: 5px solid white;
}

#title1 {
    font-size: 60px;
    text-align: center;
    color:white;
}

#switch_colour {
    text-align: center;
    font-size: 30px;
}